@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("bg4.jpg");
  background-size: cover;
}
.contanier {
  width: 80%;
  margin: auto;
}
header {
  height: 100px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.56);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header nav .logo a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}
nav ul {
  list-style: none;
  display: flex;
  column-gap: 30px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.25s ease;
}
nav ul li a:hover {
  color: #0ba2c0;
}
nav .menu {
  display: flex;
  align-items: center;
  column-gap: 48px;
  position: sticky;
}
nav .menu .menu-button {
  color: #0ba2c0;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.56);
  padding: 12px 24px;
  border-radius: 56px;
  transition: all 0.25s ease;
}
nav .menu .menu-button:hover {
  background-color: #0ba2c0;
  color: white;
}
.content {
  color: white;
  height: calc(100vh- 100px);
  padding-top: 32px;
}
.content h1 {
  font-size: 52px;
  text-align: center;
}
.content h2 {
  font-size: 32px;
  text-align: center;
}
.content .links {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  column-gap: 16px;
}
.content .links a {
  background-color: white;
  padding: 20px;
  width: 280px;
  color: black;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  border-radius: 56px;
  transition: all 0.25s ease-in;
}
.content .links a:hover {
  background-color: #0ba2c0;
  color: white;
}
